#result-box {
    border: 1px;
    width: 800px;
    height: 500px;
    background-color: #E5E5E5;
    border-radius: 10px
}

.decision {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-color: #E5E5E5
}

#everything{
    padding:10px;
}

tr {
    height: 40%
}

td {
    width: 23%
}

#result-box {
    border: 1px;
    width: 100%;
    height: 500px;
    background-color: #e9e9e9;
    border-radius: 10px;
    z-index: 1;
    padding: 10px;
}

.subtitle{
    font-weight:bold
}

.badook{
    border:solid 1px black;
}




#inner-result-box {
    border: 1px;
    width: 750px;
    height: 480px;
    margin-top: 20px
}

.decision {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-color: #E5E5E5 !important;
    font-size: 15px
}



#status_bar {
    background-image: linear-gradient(to right, #dc143c, #a0e989);
    ;
    width: 600px;
    height: 20px;
    z-index: 2;
    margin-top: 20px
}

#pos {
    display: inline;
    position: relative;
    left: 550
}

#title {
    font-size: 20px
}

#neg {
    display: inline;
    position: relative;
    left: 70
}

#receive-feedback {
    margin-top: 20px
}

td {
    width: 300px
}

table {
    margin-top: 30px;
    text-align: center
}

#neg_chat {
    margin-top: 30px
}

#pos_chat {
    margin-top: 30px
}

#arrow-result {
    position: relative
}

#arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #808080;
}


mark{
    color: black;
    background: none;
}

mark.red {
    color:#ff0000;
    background: none;
}

mark.blue {
    color:#0000A0;
    background: none;
}

mark.p1{
    color:#00ff44;
    background: none;
}

mark.p2{
    color:#8cff00;
    background: none;
}

mark.p3{
    color:#aeff00;
    background: none;
}

#threshold{
    font-size: 30px;
    font-weight: bold;
    color:black;
    height: 70px;
    padding-top: 10px;
    vertical-align: middle;
}

#sample_texts{
    font-weight: 700;
    font-size: 25px;
    color:dimgray;
}